@import url('https://fonts.googleapis.com/css2?family=Girassol&family=Jolly+Lodger&family=Montserrat:wght@700&display=swap');


:root {
	--main-color: #ff7504;
	--green-color: #a8ff52;
	--text-color: #fff;
	--text-color-alter: #1f003a;
	--body-color: #1f003a;

	--font-famyly-1: "Montserrat", sans-serif;
	--font-famyly-2: "Jolly Lodger", system-ui;
	--font-famyly-3: "Girassol", serif;
}