@media (max-width:1080px) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .home {
        min-height: 730px;
    }

    .home-layer1 {
        top: 80px;
        max-width: 190px;
    }

    .home-layer2 {
        max-width: 140px;
    }
}