@media (max-width:420px) {
    .home-content {
        h1 {
            font-size: 3.5rem;
        }
    }

    .home-layer1 {
        top: 60px;
        max-width: 80px;
    }

    .home-layer2 {
        max-width: 74px;
    }

    .sale-box {
        img {
            height: 350px;
        }
    }

    .subscribe {
        img {
            left: -20px t -20px;
            z-index: -1;
        }
    }

    .email-box {
        #email {
            font-size: 0.65rem;
            padding: 15px;
        }
    }
}