.heading {
    font-size: 3.2rem;
    letter-spacing: 2px;
    font-family: var(--font-famyly-3);
    color: var(--main-color);
    text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff;
    text-align: center;
    margin-bottom: 2rem;
}