.footer {
    display: grid;
    grid-template-columns: repeat(3, 240px);
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem 0;
}

.footer-box {
    display: grid;
    gap: 10px;

    a {
        color: var(--text-color);
        font-size: 0.94rem;
    }

    .logo {
        font-size: 2rem;
        color: var(--main-color);
        text-align: center;
    }
    p{
       font-size: 0.9rem; 
    }
}

.social {
    display: flex;
    justify-content: center;
    gap: 10px;

    .bx {
        background: #3f2655;
        font-size: 18px;
        padding: 8px;
        border-radius: 50%;
        transition: background .3s ease;

        &:hover {
            background: var(--main-color);
            transition: background .3s ease;
        }
    }
}
.copyright{
    padding: 30px 0;
    text-align: center;
}