header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.logo {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--text-color);
    font-family: var(--font-famyly-2);

}

.navbar {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.nav-link {
    color: var(--text-color);
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-family: var(--font-famyly-3);
    transition: .4s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-link:hover {
    color: var(--main-color);
    transition: .4s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: .3s;
}

.menu-icon div {
    display: none;
    background: var(--text-color);
    height: 2px;
    width: 23px;
    transition: .3s;
}

.move .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);

}

.move .line2 {
    opacity: 0;

}

.move .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}