.offer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.offer-box {
    background: var(--main-color);
    color: var(--text-color);
    border-radius: 3rem;
    padding: 40px;
    position: relative;

    img {
        width: 100px;
        margin-top: -50%;
    }

    h2 {
        font-size: 1.4rem;
        text-transform: uppercase;
        margin-top: 1rem;
    }

    p {
        font-size: 0.94rem;
        margin: 1rem 0 1.8rem;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 3rem;
        border: 3px solid #3f2655;
        transform: rotate(-2.7deg);
        z-index: -1;
    }
}